<section>

    <div class="header" fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-between">

        <div class="sec-r" fxFlex="0 0 48%" fxFlex.xs="55">
            <div class="sec-abs">
                <p>AL INTERIOR DE <br> LA CONDEZA</p>
            </div>
        </div>

        <div class="sec-r" fxFlex="0 0 48%" [ngStyle]="{'margin-bottom.%': 36}">
            <div class="sec-a">
                <img src="../../../assets/img/el-misterio-de-la-condesa.png" alt="el-misterio-de-la-condesa">

                <div class="yt-video">
                    <iframe src="https://www.youtube.com/embed/NoH3A0hKo2I" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div>
                    <button [routerLink]="['/capitulos']" mat-raised-button color="accent">CONOCE MÁS</button>
                </div>
            </div>
        </div>


        <div class="sec-r" fxFlex="0 0 100%">
            <div class="sec-c">
                <app-swiper></app-swiper>
            </div>
        </div>


    </div>
</section>




<section>
    <div class="seccion-1">

        <div style="text-align: center">
            <p>los que le dan vida a la condesa</p>
        </div>



        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

            <div fxFlex="40" fxFlex.xs="40" style="text-align: center">
                <img mat-card-image class="img dialog__trigger" src="../../../assets/img/rosario.png" alt="rosario">
            </div>

            <div fxFlex="40" fxFlex.xs="40" style="text-align: center">
                <img mat-card-image class="img dialog__trigger" src="../../../assets/img/matias.png" alt="matias">
            </div>
        </div>

        <div class="relativo">
            <div class="dialog">
                <span class="dialog__close">&#x2715;</span>
                <h2 id="nombre_2" class="dialog__title">PREUBA</h2>
                <p id="descripcion_2" class="dialog__content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit necessitatibus illo deleniti doloremque culpa voluptas recusandae, sunt eligendi amet, ut modi voluptatibus ipsa quas voluptatem consectetur atque, velit reprehenderit debitis.
                </p>
            </div>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
            <div fxFlex="30" fxFlex.xs="40" style="text-align: center">
                <img mat-card-image class="img dialog__trigger" src="../../../assets/img/matias.png" alt="matias">

            </div>

            <div fxFlex="30" fxFlex.xs="40" style="text-align: center">
                <img mat-card-image class="img dialog__trigger" src="../../../assets/img/matias.png" alt="matias">

            </div>

            <div fxFlex="30" fxFlex.xs="40" style="text-align: center">
                <img mat-card-image class="img dialog__trigger" src="../../../assets/img/matias.png" alt="matias">

            </div>

        </div>

    </div>
</section>

<section>

    <div fxLayout="row wrap" class="seccion-2">
        <div class="cajita" fxFlex="0 0 100%" fxLayoutAlign="center center">
            <div class="contenido">
                <h1>EXPERIENCIAS DEL <br> MÁS ALLÁ</h1>
                <p>Si crees haber experimentado una situiacion paranormal, puedes comentarnos tu caso y con la ayuda de expertos lo analizaremos y te guiaremos para resolver tus dudas</p>
                <button [style.font-size.px]="20" [style.margin.px]="20" mat-raised-button color="primary" [routerLink]="['/dashboard']">INGRESA TU HISTORIA AQUI</button>
            </div>
        </div>
    </div>

</section>