    .header {
        background-image: url('/assets/img/header-home.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: top center;
        padding: 90px 90px;
        position: relative;
        width: 100%;
        height: 77rem;
    }
    
    .seccion-1 {
        background-image: url('/assets/img/bg-wall.png');
        position: relative;
        /* height: 58rem; */
    }
    
    .seccion-2 {
        background-image: url('/assets/img/footer_bg.png');
        background-repeat: no-repeat;
        height: 38rem;
        padding: 100px 220px;
        position: relative;
    }
    
    .sec1 {
        color: white;
        text-transform: uppercase;
        padding: 20px 40px 0 40px;
        text-align: center;
    }
    
    .sec-r {
        position: relative;
        padding: 5px;
        box-sizing: border-box;
    }
    
    .sec-a {
        position: absolute;
        width: 100%;
        margin: 0;
        transform: translateY(-9%);
        text-align: center;
    }
    
    .sec-c {
        position: absolute;
        width: 100%;
        margin: 0;
        transform: translateY(-9%);
        text-align: center;
    }
    
    .sec-abs {
        position: absolute;
        width: 100%;
        margin: 0;
        transform: translateY(-9%);
        text-align: center;
        color: white;
        bottom: 50%;
    }
    
    .content {
        min-width: 300px;
        /*height: 400px;*/
    }
    
    .container {
        /* min-height: 100%; */
        width: 100%;
    }
    
    .img {
        width: 90%;
        margin-bottom: 18%;
    }
    
    .cajita {
        background-color: #8a581a;
        opacity: 0.8;
        position: relative;
        box-sizing: border-box;
    }
    
    .contenido {
        position: absolute;
        width: 100%;
        color: white;
        margin: 0;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
    }
    /* Iframe responsive */
    
    .yt-video {
        height: 0;
        padding-bottom: 56.25%;
        overflow: hidden;
        position: relative;
    }
    
    .yt-video iframe,
    .yt-video object,
    .yt-responsive embed {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    /* pop-up */
    
    #esto {
        display: none
    }
    
    .relativo {
        position: relative;
        height: 300px
    }
    
    .dialog__trigger,
    .dialog__action {
        border: 3px solid #333333;
        background: #f1f1f1;
        padding: 15px 20px;
        font-size: 1.1rem;
        text-transform: uppercase;
        display: block;
        transition: all 150ms ease-out;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }
    
    .dialog__trigger:hover,
    .dialog__trigger:focus,
    .dialog__action:hover,
    .dialog__action:focus {
        outline: 0;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        transition: all 100ms ease-in;
        box-shadow: 0 5px 10px rgba(51, 51, 51, 0.4);
    }
    
    .dialog__trigger:active,
    .dialog__action:active {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    
    .dialog {
        background: #f1f1f1;
        width: 70%;
        position: absolute;
        left: calc(50% - 35%);
        top: 0;
        padding: 30px;
        box-shadow: 0 10px 30px rgba(51, 51, 51, 0.4);
        border: 3px solid #333333;
        visibility: hidden;
        opacity: 0;
        transition: all 180ms ease-in;
    }
    
    @media (max-width: 600px) {
        .dialog {
            width: 90%;
            left: calc(50% - 45%);
        }
    }
    
    .dialog.dialog--active {
        top: -13%;
        visibility: visible;
        opacity: 1;
        transition: all 250ms ease-out;
    }
    
    .dialog .dialog__close {
        font-size: 2rem;
        line-height: 2rem;
        position: absolute;
        right: 15px;
        top: 15px;
        cursor: pointer;
        padding: 15px;
        transition: color 150ms ease;
    }
    
    .dialog .dialog__close:hover {
        color: #E74C3C;
    }
    
    .dialog .dialog__title {
        font-size: 2rem;
        font-family: 'Slabo 27px', serif;
        font-weight: 100;
        margin: 0;
        padding: 0 0 15px 0;
        border-bottom: 2px solid #333333;
    }
    
    .dialog .dialog__content {
        font-size: 1.1rem;
        line-height: 2rem;
    }
    
    .dialog .dialog__action {
        margin: 0;
        font-size: 1rem;
    }