    .header {
        background-image: url('/assets/img/header-home.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: top center;
        padding: 35px 255px;
        position: relative;
        width: 100%;
        height: 59rem;
    }
    
    .mat-raised-button {
        border-radius: 0px;
    }
    
    .seccion-1 {
        background-image: url('/assets/img/personajes-top-bg.png'), url('/assets/img/bg-wall.png');
        background-repeat: no-repeat, repeat;
        background-position: top center, top center;
        padding: 35px 255px;
        position: relative;
        /* height: 58rem; */
    }
    
    .sec-uno-title {
        position: relative;
        color: white;
        box-sizing: border-box;
        text-align: center;
    }
    
    .sec-uno-title-a {
        width: 100%;
        margin-top: 40px;
        margin-bottom: 50px;
        text-align: center;
        color: white;
    }
    
    .seccion-2 {
        background-image: url(/assets/img/footer_bg.png);
        background-repeat: no-repeat;
        height: 25rem;
        /* padding: 97px 496px; */
        position: relative;
    }
    
    .sec1 {
        color: white;
        text-transform: uppercase;
        padding: 20px 40px 0 40px;
        text-align: center;
    }
    
    .sec-r {
        position: relative;
        padding: 5px;
        box-sizing: border-box;
    }
    
    .sec-rr {
        position: relative;
        padding: 5px;
        box-sizing: border-box;
    }
    
    .sec-rrr {
        position: relative;
        padding-bottom: 97%;
    }
    
    .sec-a {
        position: absolute;
        width: 100%;
        margin: 0;
        transform: translateY(-9%);
        text-align: center;
        z-index: 1;
    }
    
    .sec-a.img {
        width: 40%;
    }
    
    .sec-c {
        position: absolute;
        width: 100%;
        margin: 0;
        transform: translateY(-9%);
        text-align: center;
    }
    
    .sec-abs {
        position: absolute;
        width: 100%;
        margin: 0;
        transform: translateY(-9%);
        text-align: left;
        color: white;
        bottom: 2%;
        padding-left: 30px;
    }
    
    .img {
        width: 90%;
        margin-bottom: 18%;
    }
    
    img.mat-card-image {
        width: 100%;
        margin-bottom: -6px;
        filter: brightness(0.4);
        z-index: 0;
        position: relative;
        margin-left: 0;
        margin-top: 0;
    }
    
    .more {
        position: absolute;
        transform: scale(2.5);
        top: 50%;
        left: 50%;
        color: #62320b;
    }
    
    .texteNone {
        display: none
    }
    
    .moreNone {
        display: none;
    }
    
    .texte-a {
        position: absolute;
        bottom: 0px;
        right: 22%;
        width: 250px;
        color: white;
        text-align: center;
        z-index: 1;
    }
    
    .cajita {
        position: relative;
        box-sizing: border-box;
    }
    
    .contenido {
        position: absolute;
        width: 50%;
        color: white;
        margin: 0;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        background: #62320b;
        padding: 39px 17px;
        opacity: 0.8;
    }
    /* Iframe responsive */
    
    .yt-video {
        height: 0;
        /* padding-bottom: 56.25%; */
        overflow: hidden;
        position: relative;
        -webkit-box-shadow: -2px 10px 133px -16px rgba(135, 135, 176, 1);
        -moz-box-shadow: -2px 10px 133px -16px rgba(135, 135, 176, 1);
        box-shadow: -2px 10px 133px -16px rgba(135, 135, 176, 1);
    }
    /* .yt-video {
        height: auto;
        
        overflow: hidden;
        position: relative;
    } */
    
    .yt-video iframe,
    .yt-video object,
    .yt-responsive embed {
        height: 100%;
        left: -2px;
        position: absolute;
        top: -2x;
        width: 100%;
    }
    /* pop-up */
    
    .relativo {
        position: relative;
        height: 300px
    }
    
    .activo {
        border: 2px solid #f1eeee !important;
        background-color: white !important;
        border-radius: 3px;
        filter: brightness(2);
        box-shadow: 0px 0px 56px rgba(239, 235, 232, 0.38)
    }
    
    .dialog__trigger {
        position: relative;
        border: 1px solid rgba(241, 241, 241, 0.33);
        border-radius: 3px;
        padding: 2px 2px;
        display: block;
        cursor: pointer;
        transition: all 150ms ease-out;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        z-index: 0;
    }
    
    .dialog__trigger:hover,
    .dialog__trigger:focus {
        outline: 0;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        transition: all 100ms ease-in;
        box-shadow: 0px 1px 13px rgba(236, 232, 232, 0.48);
    }
    
    .dialog__trigger:hover,
    .dialog__trigger:focus,
    i.material-icons.more:hover {
        text-shadow: 0px 1px 13px rgba(228, 228, 224, 0.836);
    }
    
    .dialog__trigger:active {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    /* Macheteeeee */
    
    .dialog__trigger2 {
        position: relative;
        border: 1px solid rgba(241, 241, 241, 0.33);
        border-radius: 3px;
        padding: 2px 2px;
        display: block;
        cursor: pointer;
        transition: all 150ms ease-out;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        z-index: 0;
    }
    
    .dialog__trigger2:hover,
    .dialog__trigger2:focus {
        outline: 0;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        transition: all 100ms ease-in;
        box-shadow: 0px 1px 13px rgba(236, 232, 232, 0.48);
    }
    
    .dialog__trigger2:hover,
    .dialog__trigger2:focus,
    i.material-icons.more:hover {
        text-shadow: 0px 1px 13px rgba(228, 228, 224, 0.836);
    }
    
    .dialog__trigger2:active {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    /* fin del machete */
    /* Macheteeeee 3 */
    
    .dialog__trigger3 {
        position: relative;
        border: 1px solid rgba(241, 241, 241, 0.33);
        border-radius: 3px;
        padding: 2px 2px;
        display: block;
        cursor: pointer;
        transition: all 150ms ease-out;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        z-index: 0;
    }
    
    .dialog__trigger3:hover,
    .dialog__trigger3:focus {
        outline: 0;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        transition: all 100ms ease-in;
        box-shadow: 0px 1px 13px rgba(236, 232, 232, 0.48);
    }
    
    .dialog__trigger3:hover,
    .dialog__trigger3:focus,
    i.material-icons.more:hover {
        text-shadow: 0px 1px 13px rgba(228, 228, 224, 0.836);
    }
    
    .dialog__trigger3:active {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    /* fin del machete 3 */
    /* Macheteeeee 4 */
    
    .dialog__trigger4 {
        position: relative;
        border: 1px solid rgba(241, 241, 241, 0.33);
        border-radius: 3px;
        padding: 2px 2px;
        display: block;
        cursor: pointer;
        transition: all 150ms ease-out;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        z-index: 0;
    }
    
    .dialog__trigger4:hover,
    .dialog__trigger4:focus {
        outline: 0;
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
        transition: all 100ms ease-in;
        box-shadow: 0px 1px 13px rgba(236, 232, 232, 0.48);
    }
    
    .dialog__trigger4:hover,
    .dialog__trigger4:focus,
    i.material-icons.more:hover {
        text-shadow: 0px 1px 13px rgba(228, 228, 224, 0.836);
    }
    
    .dialog__trigger4:active {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    /* fin del machete 4 */
    
    .dialog__trigger5 {
        position: relative;
        border: 1px solid rgba(241, 241, 241, 0.33);
        border-radius: 3px;
        padding: 2px 2px;
        display: block;
        cursor: pointer;
        transition: all 150ms ease-out;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        z-index: 0;
    }
    
    .dialog {
        background: #442d17;
        color: white;
        width: 70%;
        position: absolute;
        left: calc(50% - 35%);
        top: 0;
        padding: 30px;
        box-shadow: 0 10px 30px rgba(51, 51, 51, 0.4);
        border: 3px solid #442d17;
        visibility: hidden;
        opacity: 0;
        transition: all 180ms ease-in;
    }
    
    @media (max-width: 600px) {
        .dialog {
            width: 90%;
            left: calc(50% - 45%);
        }
    }
    
    .dialog.dialog--active {
        top: -13%;
        visibility: visible;
        opacity: 1;
        transition: all 250ms ease-out;
    }
    
    .dialog .dialog__close {
        font-size: 2rem;
        line-height: 2rem;
        position: absolute;
        right: 15px;
        top: 15px;
        cursor: pointer;
        padding: 15px;
        transition: color 150ms ease;
    }
    
    .dialog .dialog__close:hover {
        color: #E74C3C;
    }
    
    .dialog .dialog__title {
        font-size: 2rem;
        font-family: 'Slabo 27px', serif;
        font-weight: 100;
        margin: 0;
        /* padding: 0 0 15px 0; */
        /* border-bottom: 2px solid #333333; */
    }
    
    .dialog .dialog__content {
        font-size: 1.1rem;
        line-height: 2rem;
    }
    
    .dialog .dialog__action {
        margin: 0;
        font-size: 1rem;
    }
    
    @media screen and (max-width: 1400px) {
        .header {
            padding: 35px 100px;
        }
        .seccion-1 {
            padding: 50px 15px;
        }
    }
    
    @media screen and (max-width: 600px) {
        .header {
            padding: 50px 15px;
            height: 21rem;
        }
        .contenido {
            width: 87%;
        }
        .seccion-2 {
            height: 28rem;
        }
        .seccion-1 {
            padding: 0px 15px 42px;
        }
        h1.acheuno {
            font-size: 15px;
        }
        h2.achedos {
            display: none;
        }
        .texte-a {
            width: 83px;
        }
        .more {
            transform: scale(1.5);
            top: 43%;
            left: 44%;
        }
        #descripcion-dos {
            display: none;
        }
        .dialog.dialog--active {
            top: -5%;
            visibility: visible;
            opacity: 1;
            transition: all 250ms ease-out;
        }
        #proximamente {
            margin: 0px 0px 25px -20px;
        }
        .mat-h1,
        .mat-headline,
        .mat-typography h1 {
            font: 700 24px/48px Lora !important;
            margin: 0 0 16px !important;
        }
    }