.conocemas {
    position: relative;
    text-align: center;
    padding: 35px 255px;
}

.textos {
    color: white
}

.asise {
    color: burlywood;
    margin-top: -50px;
}

img {
    width: 100%;
}


/* Iframe responsive */

.yt-video {
    height: 0;
    /* padding-bottom: 56.25%; */
    overflow: hidden;
    position: relative;
    -webkit-box-shadow: -2px 10px 133px -16px rgba(135, 135, 176, 1);
    -moz-box-shadow: -2px 10px 133px -16px rgba(135, 135, 176, 1);
    box-shadow: -2px 10px 133px -16px rgba(135, 135, 176, 1);
}


/* .yt-video {
    height: auto;
    
    overflow: hidden;
    position: relative;
} */

.yt-video iframe,
.yt-video object,
.yt-responsive embed {
    height: 100%;
    left: -2px;
    position: absolute;
    top: -2x;
    width: 100%;
}

@media screen and (max-width: 1400px) {
    .header {
        padding: 35px 100px;
    }
}

@media screen and (max-width: 600px) {
    .conocemas {
        padding: 10px 20px;
    }
    .asise {
        margin-top: 0px;
    }
    .subir {
        margin-top: -20px;
    }
}