<mat-card-content class="container textos">
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="conocemas">
        <div fxFlex="0 0 100%">
            <img src="../../../assets/img/el-misterio-de-la-condesa-sinopsis.png" alt="el-misterio-de-la-condesa-sinopsis">
        </div>

        <div fxFlex="0 0 48%">

            <p style="text-align: justify;padding-top:25px;">Rosario y Matías, una pareja de estudiantes universitarios, van de paseo a una finca de un municipio antioqueño que encontraron en un sitio web de turismo. Matías va en plan de conquistarla y hacerla su novia. Al llegar al lugar, Rosario siente
                una extraña energía a pesar de que la finca es acogedora. Matías no siente lo mismo pues es escéptico a los temas paranormales.</p>
        </div>
        <div fxFlex="0 0 48%" style="text-align: justify">
            <p class="subir">Una serie de eventos extraños le quitan la tranquilidad a Rosario y la impulsan a regresar a su casa, pero Matías y Antonio, el encargado de la finca, la convencen de pasar la noche allí. Lo que Rosario desconoce es que en la finca habita
                el espíritu de una antigua propietaria del lugar que la hará pasar la peor noche de su vida.</p>
        </div>
        <div fxFlex="0 0 100%">
            <p>El miedo, la intriga, la traición y el amor acompañarán a los protagonistas en una historia donde el público podrá definir su rumbo. </p>
        </div>



    </div>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="conocemas">

        <div fxFlex="0 0 100%">
            <div>
                <h2 class="asise">ASI SE HIZO EL MISTERIO DE LA CONDESA</h2>
            </div>

            <div style="text-align: justify">

                <p>La serie El misterio de La Condesa contó con un equipo de realización, actores y producción estuvo integrado por 40 personas.</p>
                <p>María Cecilia Vásquez, una antioqueña con amplia trayectoria nacional en películas, cortos y novelas a nivel nacional, tales como La mamá del 10, Sala de emergencia, La Traicionera, Mentiras Perfectas, La Bruja, entre otras, fue la encargada
                    de dirigir esta súper producción y de darle vida a cada uno de los personajes.</p>
                <p>La guionista y libretista Ana Lucía Gurisatti, estuvo a cargo de la historia y el diseño de los capítulos. Ana Lucía ha participado en diversos proyectos como A mano limpia, La gloria de Lucho y Tu Club.</p>
                <p>El misterio de La condesa, es protagonizada por Alejandra Chamorro y Daniel Mira, acompañados de los actores Carlos Fernández y Juan Carlos Ruiz.</p>
            </div>
        </div>
        <div fxFlex="0 0 100%">
            <div class="yt-video" style="padding-bottom: 56.25%;">
                <iframe src="https://www.youtube.com/embed/BO9CM6F376s" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>


    </div>

</mat-card-content>