<mat-card-content>

    <div fxLayout="row wrap" class="cajita-1">
        <div class="item" fxFlex="0 0 100%" fxLayoutAlign="center start">
            <div class="item-contenido">
                <h1>{{capitulo.titulo}}</h1>
                <h2>{{capitulo.titulito}}</h2>
                <div>
                    <h1>VIDEO</h1>
                </div>
                <div class="tex-left">
                    <p>{{capitulo.descripcion}}</p>
                </div>

            </div>
        </div>
    </div>

    <div fxLayout="row wrap" class="cajita-2" fxLayoutWrap fxLayoutGap="0.5%">
        <div class="item" fxFlex="0 0 100%">
            <div class="item-contenido">
                <h1>Tu puedes elegir el destino <br> de esta historia</h1>
                <div>
                    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FSualexiz%2Fposts%2F10216740944849947&width=500" width="500" height="453" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"
                        allow="encrypted-media"></iframe>
                </div>
            </div>
        </div>
    </div>

</mat-card-content>