.container {
    position: relative
}

.cajita-1 {
    position: relative;
    background-image: url('/assets/img/bg-wall.png');
    padding: 30px;
    border-radius: 3px;
    height: 30rem;
}

.cajita-2 {
    position: relative;
    background-image: url('/assets/img/footer_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 30px;
    border-radius: 3px;
    height: 38rem;
}

.item {
    position: relative;
    padding: 5px;
    box-sizing: border-box;
}

.item-contenido {
    position: absolute;
    width: 100%;
    color: white;
    margin: 0;
    top: 0rem;
    text-align: center;
}