<mat-nav-list color="primary">
    <a [routerLink]="['/home']" mat-list-item (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item (click)="onSidenavClose()">
        <mat-icon>ondemand_video</mat-icon> <span class="nav-caption" [routerLink]="['/home']">Capítulos</span>
    </a>
    <a mat-list-item (click)="onSidenavClose()">
        <mat-icon>library_books</mat-icon><span class="nav-caption" [routerLink]="['/blog']">Blog</span>
    </a>
    <a mat-list-item (click)="onSidenavClose()">
        <mat-icon>add_circle_outline</mat-icon><span class="nav-caption" [routerLink]="['/conocemas']">Conoce más</span>
    </a>
    <!-- <a mat-list-item (click)="onSidenavClose()">
        <mat-icon>description</mat-icon><span class="nav-caption" [routerLink]="['/dashboard']">Escribe tu historia</span>
    </a> -->
</mat-nav-list>