mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
    height: 100%;
}

mat-sidenav-container {
    background-image: url('/assets/img/personajes-top-bg.png'), url('/assets/img/bg-wall.png');
    background-repeat: no-repeat, repeat;
    background-position: top center, top center;
}

mat-sidenav {
    width: 250px;
}

main {
    padding: 0;
}


/* mat-sidenav.mat-drawer.mat-sidenav.ng-tns-c2-0.ng-trigger.ng-trigger-transform.mat-drawer-over.ng-star-inserted {
    background: #62320b;
    top: 58px;
    border-top-right-radius: 7px;
    color: white;
} */